*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	max-width:100%;
	height:auto;
}
body{
	/*overflow-x:hidden;*/
}
input{
	background:none;
	cursor: pointer;
	text-align:center;
	border:none;	
}

/*-----------------------------chrome-top--------------------------------*/

.chrome-top{
	margin:0 auto;
	height:100px;
	width:100%;
	position:relative;
}
.htc-logo{
	width: 100px;
	height: 100px;
	margin-left:10%;
}

/*main-nav-block*/

.main-nav-block{
	height:90px;
	width: 80%;
	margin-left:15%;
	position:absolute;	
	margin-top:-90px;
	padding-top:40px;
	z-index:1;
}
.menu-list{
	width:80%;
	height:30px;
}
.menu-list li{
	font-size:14px;
	height:30px;
	width:10%;
	float: left;
	text-align:center;
}
.title a:link{
	color:#3D4039;
}
.title a:visited{
	color:#3D4039;
}
.title a:hover{
	color:#7BD332;
}

/*has-sub-menu*/

.sub-menu{
	text-align:center;
	position: absolute;
	width:100%;
	margin:30px auto;
	height:0;
	overflow: hidden;
	transition: height 0.3s;
	background:#CCC;
	right:0.5%;
}
.align-center{
	float:left;	
}
.permanent-link{
	text-align:right;
	font-size:18px;
	font-weight:bold;
	margin:30px auto;
}
.standard-product{
	margin:30px auto;
}

/*search-block*/

.search-block{
	position:absolute;
	z-index:1;
	border:1px #000 solid;
	margin-right:30%;
	width:200px;
	margin:-50px 0 0 80%;
}

/*top-nav-block*/

.top-nav-block{
	position:absolute;
	vertical-align:middle;
	width:250px;
	height:30px;
	font-size:5px;
	margin:-80px 0 0 75%;	
	z-index:1;
}
.top-nav-block ul li{
	float: left;
	margin-left:2%;	
}
.top-title:link{
	color:#7BD332;
}
.top-title:visited{
	color:#7BD332;
}
.top-title:hover{
	color:#6A9F3E;
}
.dot-green{
	background: #FF5733;
	width: 5px;
	height: 5px;
}


/*-----------------------------chrome-mian--------------------------------*/

.chrome-mian{
	margin:10px 10px;
}

/*main-top-block*/

.main-top-block{
	margin-top:-10px;
}
.carousel slide{
	position:absolute;
}

/*carousel-caption*/

.carousel-caption{
	position:absolute;
	width:40%;
	height:50%;
	color:#FFF;
	margin-left:-50px;
}
.carousel-caption img{
	margin-top:-100px;
}
.carousel-caption ul{
	width:100%;
	text-align:center;
	margin-top:-25px;
	margin-left:5px;
}
.carousel-caption li{
	border:2px solid #FFF;
	font-size:14px;
	float: left;
	margin-top:10px;
}
.carousel-caption li a:link{
	color:#FFF;
}
.carousel-caption li a:visited{
	color:#FFF;
}
.carousel-caption li a:hover{
	color:#000;
	background:#FFF;
}
.carousel-caption h2{
	width:100%;
	margin:-25px 0 50px -60px;
	font-weight:500;
	letter-spacing:5px;
}
	

/*輪播第二張圖*/


.cryptokitties{	
	width:75%;
	height:20%;
	position:absolute;
	margin-left:-180px;
}
.cryptokitties-text{
	position:inherit;
	color:#000;
	letter-spacing:normal;
	font-size:24px;
	font-weight:bold;
	left:55px;
	top:-10px;
}
.cryptokitties-text-content{
	width:100%;
	text-align:center;
	margin-left:5px;
}
.cryptokitties-text-content li{
	border:2px solid #000;
	font-size:14px;
	float: left;
	margin-top:10px;
}
.cryptokitties-text-content li a:link{
	color:#000;
}
.cryptokitties-text-content li a:visited{
	color:#000;
}
.cryptokitties-text-content li a:hover{
	color:#FFF;
	background:#000;
}

/*main-center-top-block*/

.main-center-top-picture{
	width:100%;
	float: left;
	word-spacing:5px;
	margin:10px 0 10px 0;
}
.main-center-top-picture img{
	width:32%;
}

/*main-center-down-block*/

.main-center-down-block{
 	text-align:center;
	height:auto;
}
.main-center-down-movie h2{
	margin-top:50px;
	font-weight:bolder;
}
.main-center-down-movie{
	background:#CCC;
	float:left;
	width:100%;
	margin-bottom:10px;
	word-spacing:5px;
}
.moive{
	margin:30px;
	margin-bottom:40px;
}
.moive img{
	width:450px;
	height:250px;
}
.cta-button{
	border:2px solid #000;
	width:130px;
	height:45px;
	padding-top:10px;
	font-size:13px;
	margin-left:45%;
	margin-bottom:50px;
}

/*main-down-block*/

.down-picture h2{
	margin-top:50px;
	font-weight:bolder;
}
.main-down-picture{
	width:100%;
	text-align:center;
}
.down-picture{
	width:100%;
	margin-top:-45px;
	overflow: hidden;
	background:#BEC3AA;
}
.phone{
	margin:50px 3% 30px 3%;
	float:left;
	width:10%;
	height:185px;
}
.phone-double{
	margin:50px 1% 30px 1%;
	float:left;
	width:17%;
	height:250px;
}
.phone img{
	width:85px;
}
.phone-double img{
	height:175px;
}
.down-picture h3{
	margin:20px auto;
	font-size:16px;	
}
.play{
	margin:20px auto;
	border:2px solid #000;
	width:100px;
}
.play-double{
	border:2px solid #000;
	width:85px;
	margin:20px auto;
}
.down-picture input{
	height:45px;
	font-size:14px;
}

.view-all-phone{
	margin:120px 35% 70px 0;
	border:2px solid #000;
	height:45px;
	width:200px;
}
	
/*-----------------------chromebottom---------------------------*/

.chromebottom{
	margin:-20px 10px;
	max-width:100%;
	height:25px;
	background:#9C9B9B;
}
.chromebottom ul li{
	float: left;
	margin:0 20px;
	margin-bottom:10px;
}


